//text
$font : 'Rubik', sans-serif;
$text-size: 16px;
$text-color: #4F5665;
$heading-color: #0B132A;

//color theme
$primary-color: #F53838;
$primary-colorLight: #FFECEC;
$gray-color: #DDE0E4;
$gray-colorLight: #EEEFF2;
$list-color: #2FAB73
