.btn{
    font-family: $font;
    font-size: $text-size;
    font-weight: 500;
    background-color: transparent;
    outline: none;

    &:hover{
        cursor: pointer;
    }

    &-signIn{
        border: none;
        transition: 0.1s;

        &:hover{
            color: $primary-color;
        }
    }

    &-signUp{
        padding: 13px 45px;
        border-radius: 50px;
        color: $primary-color;
        border: 1px solid;
        margin-left: 30px;
        transition: 0.2s;

        &:hover{
            background-color: $primary-color;
            color: white;
        }
    }

    &-hero{
        position: relative;
        color: white;
        font-weight: 700;
        padding: 18px 78px;
        border: none;
        border-radius: 10px;
        background-color: $primary-color;
        box-shadow: none;
        transition: 0.2s;

        &:hover{
            transform: translateY(-4px);
            box-shadow: 10px 10px 8px #ddd;
        }
    }
}

