.intro{
    &_container{
        margin: 100px 0;
    }

    &_list{
        display: flex;
        padding: 38px 91px;
        border: 1px solid;
        justify-content: space-between;
    }

    &_item{
        display: flex;
        padding: 30px 0;
    }

    &_icon{
        & i {
            padding: 19px 20px;
            color: $primary-color;
            border-radius: 50px;
            background-color: $primary-colorLight;
        }
    }

    &_content{
        margin-left: 37px;
        & h3{
            font-size: 25px;
            font-weight: 700;
            color: $heading-color;
        }

        & p{
            font-size: 20px;
        }
    }
}