.intro{
    &_container{
        padding: 38px 0;
        box-shadow: 0 30px 40px $gray-colorLight;
    }

    &_item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-right: 2px solid $gray-colorLight;

        &:last-child{
            border-right: none;
        }
    }

    &_icon{
        & i {
            padding: 19px 20px;
            color: $primary-color;
            border-radius: 50px;
            background-color: $primary-colorLight;
        }
    }

    &_content{
        margin-left: 37px;
        & h3{
            font-size: 25px;
            font-weight: 700;
            color: $heading-color;
        }

        & p{
            font-size: 20px;
        }
    }
}