.plan{
    &_content{
        padding-top: 60px;
    }

    &_list{
        margin: 0;
    }
    
    &_item{
        &Content{
            background: #FFFFFF;
            border: 2px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 80px 70px 50px 70px;
            display: flex;
            flex-direction: column;
            height: 760px;
            align-items: center;
            justify-content: space-between;

            & img{
                margin: 0 auto;
            }

            & button{
                margin: 0 auto;
            }
        }

        &Heading{
            font-size: 18px;
            font-weight: 500;
            padding: 30px 0;
            color: $heading-color;
            text-align: center;
        }
    }

    &_svItem{
        display: flex;
        align-items: baseline;
        padding: 10px 0;

        & i{
            color: $list-color;
        }

        & p{
            padding-left: 20px;
        }
    }

    &_price{
        font-size: 25px;
        font-weight: 500;
        color: $heading-color;
        text-align: center;
        padding-bottom: 20px;

        & span{
            color: $text-color;
            font-weight: 400;
        }
    }
}